<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>

	<connectionStrings>
		<add name="connectionTemplate" connectionString="Data Source={0};Version=3;Pooling=True;Max Pool Size=100;"/>
	</connectionStrings>
  
</configuration>
